In [1]:
import pandas as pd
import numpy as np

In [2]:
train_data=pd.read_csv("train.csv")

In [3]:
test_data=pd.read_csv("test.csv")

In [4]:
train_data=pd.DataFrame(train_data)

In [5]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 631761 entries, 0 to 631760
Data columns (total 14 columns):
area_assesed                             631761 non-null object
building_id                              631761 non-null object
damage_grade                             631761 non-null object
district_id                              631761 non-null int64
has_geotechnical_risk                    631761 non-null float64
has_geotechnical_risk_fault_crack        631761 non-null int64
has_geotechnical_risk_flood              631761 non-null int64
has_geotechnical_risk_land_settlement    631761 non-null int64
has_geotechnical_risk_landslide          631761 non-null int64
has_geotechnical_risk_liquefaction       631761 non-null int64
has_geotechnical_risk_other              631761 non-null int64
has_geotechnical_risk_rock_fall          631761 non-null int64
has_repair_started                       598344 non-null float64
vdcmun_id                                631761 non-null int64
dtypes: float64(2), int64(9), object(3)
memory usage: 67.5+ MB

In [6]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421175 entries, 0 to 421174
Data columns (total 13 columns):
area_assesed                             421175 non-null object
building_id                              421175 non-null object
district_id                              421175 non-null int64
has_geotechnical_risk                    421175 non-null float64
has_geotechnical_risk_fault_crack        421175 non-null int64
has_geotechnical_risk_flood              421175 non-null int64
has_geotechnical_risk_land_settlement    421175 non-null int64
has_geotechnical_risk_landslide          421175 non-null int64
has_geotechnical_risk_liquefaction       421175 non-null int64
has_geotechnical_risk_other              421175 non-null int64
has_geotechnical_risk_rock_fall          421175 non-null int64
has_repair_started                       399253 non-null float64
vdcmun_id                                421175 non-null int64
dtypes: float64(2), int64(9), object(2)
memory usage: 41.8+ MB

In [7]:
target=train_data["damage_grade"]

In [8]:
null_columns=train_data.columns[train_data.isnull().any()]
train_data[null_columns].isnull().sum()

has_repair_started    33417
dtype: int64

In [9]:
null_columns=test_data.columns[test_data.isnull().any()]
test_data[null_columns].isnull().sum()

has_repair_started    21922
dtype: int64

In [10]:
c1=test_data["building_id"]

In [11]:
c1=pd.DataFrame(c1)

In [12]:
del test_data["building_id"]

In [13]:
del train_data["building_id"]

In [14]:
del test_data["has_repair_started"]

In [15]:
del train_data["has_repair_started"]

In [16]:
del train_data["damage_grade"]

In [17]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421175 entries, 0 to 421174
Data columns (total 11 columns):
area_assesed                             421175 non-null object
district_id                              421175 non-null int64
has_geotechnical_risk                    421175 non-null float64
has_geotechnical_risk_fault_crack        421175 non-null int64
has_geotechnical_risk_flood              421175 non-null int64
has_geotechnical_risk_land_settlement    421175 non-null int64
has_geotechnical_risk_landslide          421175 non-null int64
has_geotechnical_risk_liquefaction       421175 non-null int64
has_geotechnical_risk_other              421175 non-null int64
has_geotechnical_risk_rock_fall          421175 non-null int64
vdcmun_id                                421175 non-null int64
dtypes: float64(1), int64(9), object(1)
memory usage: 35.3+ MB

In [18]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 631761 entries, 0 to 631760
Data columns (total 11 columns):
area_assesed                             631761 non-null object
district_id                              631761 non-null int64
has_geotechnical_risk                    631761 non-null float64
has_geotechnical_risk_fault_crack        631761 non-null int64
has_geotechnical_risk_flood              631761 non-null int64
has_geotechnical_risk_land_settlement    631761 non-null int64
has_geotechnical_risk_landslide          631761 non-null int64
has_geotechnical_risk_liquefaction       631761 non-null int64
has_geotechnical_risk_other              631761 non-null int64
has_geotechnical_risk_rock_fall          631761 non-null int64
vdcmun_id                                631761 non-null int64
dtypes: float64(1), int64(9), object(1)
memory usage: 53.0+ MB

In [19]:
null_columns=train_data.columns[train_data.isnull().any()]
train_data[null_columns].isnull().sum()

Series([], dtype: float64)

In [20]:
null_columns=test_data.columns[test_data.isnull().any()]
test_data[null_columns].isnull().sum()

Series([], dtype: float64)

In [21]:
train_data["area_assesed"].value_counts()

Both                   382992
Building removed       131346
Exterior                99030
Not able to inspect     16575
Interior                 1818
Name: area_assesed, dtype: int64

In [22]:
train_data["district_id"].value_counts().shape

(31,)

In [23]:
train_data["has_geotechnical_risk"].value_counts()

0.0    553473
1.0     78288
Name: has_geotechnical_risk, dtype: int64

In [24]:
train_data["vdcmun_id"].value_counts().shape

(1420,)

In [25]:
d1=pd.get_dummies(train_data.area_assesed,prefix="area_assesed").iloc[:,0:]

In [26]:
d2=pd.get_dummies(train_data.district_id,prefix="district_id_new").iloc[:,0:]

In [27]:
##coz  has_geotechnical_risk is in float form
d3=pd.get_dummies(train_data.has_geotechnical_risk,prefix="has_geotechnical_risk_new").iloc[:,0:]

In [28]:
del train_data["area_assesed"]

In [29]:
del train_data["district_id"]

In [30]:
del train_data["has_geotechnical_risk"]

In [31]:
x_train=pd.concat([train_data,d1,d2,d3],axis=1)

In [32]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 631761 entries, 0 to 631760
Data columns (total 46 columns):
has_geotechnical_risk_fault_crack        631761 non-null int64
has_geotechnical_risk_flood              631761 non-null int64
has_geotechnical_risk_land_settlement    631761 non-null int64
has_geotechnical_risk_landslide          631761 non-null int64
has_geotechnical_risk_liquefaction       631761 non-null int64
has_geotechnical_risk_other              631761 non-null int64
has_geotechnical_risk_rock_fall          631761 non-null int64
vdcmun_id                                631761 non-null int64
area_assesed_Both                        631761 non-null uint8
area_assesed_Building removed            631761 non-null uint8
area_assesed_Exterior                    631761 non-null uint8
area_assesed_Interior                    631761 non-null uint8
area_assesed_Not able to inspect         631761 non-null uint8
district_id_new_7                        631761 non-null uint8
district_id_new_9                        631761 non-null uint8
district_id_new_10                       631761 non-null uint8
district_id_new_11                       631761 non-null uint8
district_id_new_12                       631761 non-null uint8
district_id_new_13                       631761 non-null uint8
district_id_new_20                       631761 non-null uint8
district_id_new_21                       631761 non-null uint8
district_id_new_22                       631761 non-null uint8
district_id_new_23                       631761 non-null uint8
district_id_new_24                       631761 non-null uint8
district_id_new_25                       631761 non-null uint8
district_id_new_26                       631761 non-null uint8
district_id_new_27                       631761 non-null uint8
district_id_new_28                       631761 non-null uint8
district_id_new_29                       631761 non-null uint8
district_id_new_30                       631761 non-null uint8
district_id_new_31                       631761 non-null uint8
district_id_new_35                       631761 non-null uint8
district_id_new_36                       631761 non-null uint8
district_id_new_37                       631761 non-null uint8
district_id_new_38                       631761 non-null uint8
district_id_new_39                       631761 non-null uint8
district_id_new_40                       631761 non-null uint8
district_id_new_43                       631761 non-null uint8
district_id_new_44                       631761 non-null uint8
district_id_new_45                       631761 non-null uint8
district_id_new_46                       631761 non-null uint8
district_id_new_47                       631761 non-null uint8
district_id_new_48                       631761 non-null uint8
district_id_new_51                       631761 non-null uint8
has_geotechnical_risk_new_0.0            631761 non-null uint8
has_geotechnical_risk_new_1.0            631761 non-null uint8
dtypes: int64(8), uint8(38)
memory usage: 61.5 MB

In [33]:
null_columns=train_data.columns[train_data.isnull().any()]
train_data[null_columns].isnull().sum()

Series([], dtype: float64)

In [34]:
d4=pd.get_dummies(test_data.area_assesed,prefix="area_assesed").iloc[:,0:]

In [35]:
d5=pd.get_dummies(test_data.district_id,prefix="district_id").iloc[:,0:]

In [36]:
d6=pd.get_dummies(test_data.has_geotechnical_risk,prefix="has_geotechnical_risk_new").iloc[:,0:]

In [37]:
del test_data["has_geotechnical_risk"]

In [38]:
del test_data["area_assesed"]

In [39]:
del test_data["district_id"]

In [40]:
x_test=pd.concat([test_data,d4,d5,d6],axis=1)

In [41]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421175 entries, 0 to 421174
Data columns (total 46 columns):
has_geotechnical_risk_fault_crack        421175 non-null int64
has_geotechnical_risk_flood              421175 non-null int64
has_geotechnical_risk_land_settlement    421175 non-null int64
has_geotechnical_risk_landslide          421175 non-null int64
has_geotechnical_risk_liquefaction       421175 non-null int64
has_geotechnical_risk_other              421175 non-null int64
has_geotechnical_risk_rock_fall          421175 non-null int64
vdcmun_id                                421175 non-null int64
area_assesed_Both                        421175 non-null uint8
area_assesed_Building removed            421175 non-null uint8
area_assesed_Exterior                    421175 non-null uint8
area_assesed_Interior                    421175 non-null uint8
area_assesed_Not able to inspect         421175 non-null uint8
district_id_7                            421175 non-null uint8
district_id_9                            421175 non-null uint8
district_id_10                           421175 non-null uint8
district_id_11                           421175 non-null uint8
district_id_12                           421175 non-null uint8
district_id_13                           421175 non-null uint8
district_id_20                           421175 non-null uint8
district_id_21                           421175 non-null uint8
district_id_22                           421175 non-null uint8
district_id_23                           421175 non-null uint8
district_id_24                           421175 non-null uint8
district_id_25                           421175 non-null uint8
district_id_26                           421175 non-null uint8
district_id_27                           421175 non-null uint8
district_id_28                           421175 non-null uint8
district_id_29                           421175 non-null uint8
district_id_30                           421175 non-null uint8
district_id_31                           421175 non-null uint8
district_id_35                           421175 non-null uint8
district_id_36                           421175 non-null uint8
district_id_37                           421175 non-null uint8
district_id_38                           421175 non-null uint8
district_id_39                           421175 non-null uint8
district_id_40                           421175 non-null uint8
district_id_43                           421175 non-null uint8
district_id_44                           421175 non-null uint8
district_id_45                           421175 non-null uint8
district_id_46                           421175 non-null uint8
district_id_47                           421175 non-null uint8
district_id_48                           421175 non-null uint8
district_id_51                           421175 non-null uint8
has_geotechnical_risk_new_0.0            421175 non-null uint8
has_geotechnical_risk_new_1.0            421175 non-null uint8
dtypes: int64(8), uint8(38)
memory usage: 41.0 MB

In [42]:
from sklearn.preprocessing import LabelEncoder

In [43]:
from sklearn import preprocessing

In [44]:
le = preprocessing.LabelEncoder()

In [45]:
le.fit(target)

LabelEncoder()

In [46]:
y_train=le.transform(target)

In [47]:
y_train=pd.DataFrame(y_train)

In [48]:
y_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 631761 entries, 0 to 631760
Data columns (total 1 columns):
0    631761 non-null int64
dtypes: int64(1)
memory usage: 4.8 MB

In [49]:
X_train=x_train.iloc[:,:].values

In [50]:
X_train=pd.DataFrame(X_train)

In [51]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 631761 entries, 0 to 631760
Data columns (total 46 columns):
0     631761 non-null int64
1     631761 non-null int64
2     631761 non-null int64
3     631761 non-null int64
4     631761 non-null int64
5     631761 non-null int64
6     631761 non-null int64
7     631761 non-null int64
8     631761 non-null int64
9     631761 non-null int64
10    631761 non-null int64
11    631761 non-null int64
12    631761 non-null int64
13    631761 non-null int64
14    631761 non-null int64
15    631761 non-null int64
16    631761 non-null int64
17    631761 non-null int64
18    631761 non-null int64
19    631761 non-null int64
20    631761 non-null int64
21    631761 non-null int64
22    631761 non-null int64
23    631761 non-null int64
24    631761 non-null int64
25    631761 non-null int64
26    631761 non-null int64
27    631761 non-null int64
28    631761 non-null int64
29    631761 non-null int64
30    631761 non-null int64
31    631761 non-null int64
32    631761 non-null int64
33    631761 non-null int64
34    631761 non-null int64
35    631761 non-null int64
36    631761 non-null int64
37    631761 non-null int64
38    631761 non-null int64
39    631761 non-null int64
40    631761 non-null int64
41    631761 non-null int64
42    631761 non-null int64
43    631761 non-null int64
44    631761 non-null int64
45    631761 non-null int64
dtypes: int64(46)
memory usage: 221.7 MB

In [52]:
Y_train=y_train.iloc[:,:]

In [53]:
Y_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 631761 entries, 0 to 631760
Data columns (total 1 columns):
0    631761 non-null int64
dtypes: int64(1)
memory usage: 4.8 MB

In [54]:
from sklearn.ensemble import RandomForestClassifier

In [55]:
cls1=RandomForestClassifier(n_estimators=10,criterion='entropy',random_state=0)

In [56]:
cls1.fit(X_train,Y_train)

/home/kodecha/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [57]:
cls1.score(X_train,Y_train)

0.6305454119516716

In [58]:
y_pred=cls1.predict(x_test)

In [59]:
y_pred=pd.DataFrame(y_pred)

In [60]:
y_pred.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421175 entries, 0 to 421174
Data columns (total 1 columns):
0    421175 non-null int64
dtypes: int64(1)
memory usage: 3.2 MB

In [61]:
y_pred[0].value_counts()

4    139321
3    119131
2     70833
0     48291
1     43599
Name: 0, dtype: int64

# ranaming Columns

In [62]:
y_pred=y_pred.rename(columns={0:'damage_grade'})

In [63]:
y_pred.damage_grade.replace([0,1,2,3,4], ['Grade 1','Grade 2','Grade 3','Grade 4','Grade 5'], inplace=True)

In [64]:
y_pred.head()

  damage_grade
0      Grade 3
1      Grade 3
2      Grade 5
3      Grade 3
4      Grade 5

In [65]:
file=pd.concat([c1,y_pred],axis=1)

In [66]:
file.to_csv('y_pred6.csv',index=False)

In [67]:
null_columns=y_pred.columns[y_pred.isnull().any()]
y_pred[null_columns].isnull().sum()

Series([], dtype: float64)

In [68]:
#cls2=DecisionTreeClassifier(criterion='entropy',random_state=42)

In [69]:
#cls2.fit(X_train,Y_train)

In [70]:
np.round(y_pred)

       damage_grade
0           Grade 3
1           Grade 3
2           Grade 5
3           Grade 3
4           Grade 5
5           Grade 3
6           Grade 3
7           Grade 5
8           Grade 3
9           Grade 3
10          Grade 3
11          Grade 3
12          Grade 3
13          Grade 3
14          Grade 3
15          Grade 3
16          Grade 3
17          Grade 3
18          Grade 3
19          Grade 3
20          Grade 3
21          Grade 3
22          Grade 4
23          Grade 3
24          Grade 5
25          Grade 3
26          Grade 3
27          Grade 5
28          Grade 3
29          Grade 3
...             ...
421145      Grade 5
421146      Grade 5
421147      Grade 5
421148      Grade 5
421149      Grade 5
421150      Grade 5
421151      Grade 5
421152      Grade 5
421153      Grade 5
421154      Grade 5
421155      Grade 5
421156      Grade 5
421157      Grade 5
421158      Grade 1
421159      Grade 5
421160      Grade 5
421161      Grade 5
421162      Grade 5
421163      Grade 5
421164      Grade 5
421165      Grade 1
421166      Grade 5
421167      Grade 5
421168      Grade 5
421169      Grade 5
421170      Grade 5
421171      Grade 5
421172      Grade 1
421173      Grade 5
421174      Grade 5

[421175 rows x 1 columns]

In [71]:
y_pred=pd.DataFrame(y_pred)

In [72]:
y_pred.to_csv('abc.csv',index=False)

In [73]:
y_pred.head()

  damage_grade
0      Grade 3
1      Grade 3
2      Grade 5
3      Grade 3
4      Grade 5

In [74]:
y_pred.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421175 entries, 0 to 421174
Data columns (total 1 columns):
damage_grade    421175 non-null object
dtypes: object(1)
memory usage: 3.2+ MB

In [75]:
#print("accuracy of testing set is: {:.3f}".format(cls2.score(X_val,Y_val)))

In [76]:
#from sklearn.linear_model import LogisticRegression

In [77]:
#from sklearn.metrics import confusion_matrix

In [78]:
#cm1=confusion_matrix(Y_val,y_pred)

In [79]:
#cm1

In [80]:
from sklearn.svm import SVC

In [81]:
cls4=SVC(kernel='linear',random_state=0)

In [82]:
#cls4.fit(X_train,Y_train)

In [83]:
#print("accuracy of testing set is: {:.3f}".format(cls4.score(X_val,Y_val)))

In [84]:
from sklearn import svm

In [85]:
#clf = svm.SVC(kernel='linear', C=1).fit(X_train, Y_train)

In [86]:
#y_pred2 = clf.predict(x_test)

In [87]:
#y_pred2=pd.DataFrame(y_pred2)

In [88]:
#y_pred2=y_pred2.rename(columns={0:'damage_grade'})

In [89]:
#y_pred2.damage_grade.replace([0,1,2,3,4], ['Grade 1','Grade 2','Grade 3','Grade 4','Grade 5'], inplace=True)

In [90]:
#file2=pd.concat([c1,y_pred2],axis=1)

In [91]:
#file2.to_csv('y_pred7.csv',index=False)

In [92]:
import keras

Using TensorFlow backend.

In [93]:
from keras.models import Sequential

In [94]:
from keras.layers import Dense

In [95]:
classifier = Sequential()

In [96]:
classifier.add(Dense(output_dim=23,init='uniform',activation='relu',input_dim=46))

/home/kodecha/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", input_dim=46, units=23, kernel_initializer="uniform")`
  """Entry point for launching an IPython kernel.

In [97]:
classifier.add(Dense(output_dim=23,init='uniform',activation='relu'))

/home/kodecha/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=23, kernel_initializer="uniform")`
  """Entry point for launching an IPython kernel.

In [98]:
classifier.add(Dense(output_dim=5,init='uniform',activation='softmax'))

/home/kodecha/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="softmax", units=5, kernel_initializer="uniform")`
  """Entry point for launching an IPython kernel.

In [99]:
classifier.compile(optimizer='adam',loss='sparse_categorical_crossentropy',metrics=['accuracy'])

In [100]:
#classifier.fit(X_train,Y_train,batch_size=10,nb_epoch=40)

# KNN

In [101]:
from sklearn.neighbors import KNeighborsClassifier

In [102]:
cls3 = KNeighborsClassifier(n_neighbors=10,metric='minkowski',p=2)

In [103]:
cls3.fit(X_train,Y_train)

/home/kodecha/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """Entry point for launching an IPython kernel.

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=10, p=2,
           weights='uniform')

In [104]:
y_pred3=cls3.predict(x_test)

In [105]:
y_pred3=pd.DataFrame(y_pred3)

In [106]:
y_pred3=y_pred3.rename(columns={0:'damage_grade'})

In [107]:
y_pred3.damage_grade.replace([0,1,2,3,4], ['Grade 1','Grade 2','Grade 3','Grade 4','Grade 5'], inplace=True)

In [108]:
y_pred3.head()

  damage_grade
0      Grade 2
1      Grade 2
2      Grade 5
3      Grade 2
4      Grade 5

In [109]:
file2=pd.concat([c1,y_pred3],axis=1)

In [110]:
file2.to_csv('y_pred9.csv',index=False)

In [111]:
null_columns=y_pred.columns[y_pred.isnull().any()]
y_pred[null_columns].isnull().sum()

Series([], dtype: float64)

# Decision Tree

In [112]:
from sklearn.tree import DecisionTreeClassifier

In [113]:
#Import Library
from sklearn.ensemble import GradientBoostingClassifier
#Assumed you have, X_train (predictor) and Y_train (target) for training data set and x_test(predictor) of test_dataset
# Create Gradient Boosting Classifier object
model= GradientBoostingClassifier(n_estimators=100, learning_rate=1.0, max_depth=1, random_state=0)
# Train the model using the training sets and check score
model.fit(X_train,Y_train)
#Predict Output
predicted= model.predict(x_test)

/home/kodecha/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [114]:
predicted=pd.DataFrame(predicted)

In [115]:
predicted=predicted.rename(columns={0:'damage_grade'})

In [116]:
predicted.damage_grade.replace([0,1,2,3,4], ['Grade 1','Grade 2','Grade 3','Grade 4','Grade 5'], inplace=True)

In [117]:
predicted.head()

  damage_grade
0      Grade 3
1      Grade 3
2      Grade 5
3      Grade 3
4      Grade 5

In [118]:
file3=pd.concat([c1,predicted],axis=1)

In [119]:
file3.to_csv('y_pred10.csv',index=False)

In [120]:
null_columns=y_pred.columns[y_pred.isnull().any()]
y_pred[null_columns].isnull().sum()

Series([], dtype: float64)

# from xgboost import XGBClassifier

In [121]:
#from xgboost import XGBClassifier
#from sklearn.metrics import accuracy_score

model3 = XGBClassifier()

#model3.fit(X_train, Y_train)

#Make predictions for test data
y_pred5 = model3.predict(x_test)

NameError: name 'XGBClassifier' is not defined

In [ ]:
y_pred5=pd.DataFrame(y_pred5)

In [ ]:
y_pred5=y_pred5.rename(columns={0:'damage_grade'})

In [ ]:
y_pred5.damage_grade.replace([0,1,2,3,4], ['Grade 1','Grade 2','Grade 3','Grade 4','Grade 5'], inplace=True)

In [ ]:
y_pred5.head()

In [ ]:
file4=pd.concat([c1,y_pred],axis=1)

In [ ]:
file4.to_csv('y_pred11.csv',index=False)

In [ ]:
null_columns=y_pred5.columns[y_pred5.isnull().any()]
y_pred5[null_columns].isnull().sum()